<h1>Luo uusi vieras käyttäjälle <%= @user.username %></h1>

<%= form_for(@guest, url: user_guests_path) do |f| %>
  <fieldset id="guests">
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %>
  </p>
  <p>
  </p>
  <p class="button"><%= f.submit "Luo" %></p>
</fieldset>
<% end %>
