<h1>Ilmoittautuminen</h1>
<p>
Toivomme, ett채 teette ilmoittautumisen n채iden sivujen kautta 15.7.2012
menness채.  Tarvittaessa saatte lis채tietoa sulhaselta puhelinnumerosta 
040 7608 233.
</p>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is valid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
  <%= f.label :password %><br />
  <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation%>
  </p>
  <p class ="button"><%= f.submit%></p>
<% end%>

